---
title: Welcome to Middleman
---

= stylesheet_link_tag  "application"
= javascript_include_tag "application"
= javascript_include_tag "home"

.introduction
  .wrap
    .row
      .large-12.colulmns
        .wrap
          .inline-svg.draw.timer{:'data-src' => '/images/daodao.svg', :'data-timer-v' => 0}
          %p.text-center
            11111111111111111
.master
  .wrap
    .row
      .large-6.columns
        .inline-svg.draw.scrollable{:'data-src' => '/images/daodao.svg'}
      .large-6.columns
        %p This is me
.personality.text-center.wrap
  %h3
    Visionare Features
  .row
    %ul.large-block-grid-3
      %li
        = image_tag 'middleman.png'
        %p First
      %li
        = image_tag 'middleman.png'
        %p Second
      %li
        = image_tag 'middleman.png'
        %p Second
      %li
        = image_tag 'middleman.png'
        %p Second
      %li
        = image_tag 'middleman.png'
        %p Second
      %li
        = image_tag 'middleman.png'
        %p Second
.enter.text-center.wrap
  .row
    .large-12.columns
      = image_tag("dog.png")
      %h4 I Would Like To
      %h5 improve my art skill
      %br
  .row
    .large-6.columns
      %p Most of us gradually grow out of the artist we were as a child. Circle “Art” is here to help make that inner artist shine again. There are so many creative ways to express yourself! Would you like to be a dancer or perhaps star in a famous show?
    .large-6.columns
      %p Most of us gradually grow out of the artist we were as a child. Circle “Art” is here to help make that inner artist shine again. There are so many creative ways to express yourself! Would you like to be a dancer or perhaps star in a famous show?
      %br
  .row
    .large-2.columns.large-centered
      .button Enter
.info.text-center
  .wrap
    .row
      .large-12.columns
        %h4 Makek A Wish
        %small Send us your dream
        %p Most of us gradually grow out of the artist we were as a child. Circle “Art” is here to help make that inner artist shine again. There are so many creative ways to express yourself! Would you like to be a dancer or perhaps star in a famous show?
        %br
    .row
      .large-2.columns.large-centered
        .button.tiny Email: wendycaner@gamil.com
